* {
	font-size: 20px;
	line-height: 26px;
}

a {
	display: none;
	list-style-type: none;
}

ul {
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
}

div {
	margin: 0 auto;
	width: 50%;
	font-family: 'Roboto', sans-serif;

}
p {
	font-size: 24px; 
	line-height: 32px;
	
}
h1 {
	font-weight: 100;
	margin: 0;
	font-size: 36px;
	line-height: 36px;
}

h2 {
	font-weight: 100;
	margin: 0;
	font-size: 32px;
	line-height: 32px;
}

ul li {
	padding:10px;

}

ol li {
	padding:20px;
}
img {
	padding-bottom: 25px;
}
footer {
	padding: 25px;
	border: 4px;
	background-color: #def6ed
}
.dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lightgrey}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightgrey;
    color: black;
}