*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 20px;
}

.nav ul {
	list-style: none;
	background: #91c73e;
	text-align: center;
	padding: 35px;
	margin: -10px;
}

.nav li {
	display: inline-block;
}

.nav a {
	text-decoration: none;
	color: #91c73e;
	width: 250px
	display: block;
	padding: 15px;
	font-size: 18px;
}
 
.nav a:hover {
 	background: #511c74;
}